name: build
on:
  push:
    branches: ["master"]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: hannesg/ordinary-nix-cache@v0.1.1
      - name: Build Stock
        run: nix build .#stock
      - name: Build kernelSU
        run: nix build .#kernelsu
